<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" (mouseover)="aparecerFiltro('filtroCodigo')">
          <label>Codigo</label>
          <input class="form-control" style="display: none; width: 50px;" type="text" id="filtroCodigo" name="filtroCodigo" (keyup)="filtrarCodigo($event.target.value)" ngModel>
        </th>
        <th class="col-sm-3" scope="col" (mouseover)="aparecerFiltro('filtroNome')">
          <label>Nome</label>
          <input class="form-control" style="display: none; width: 100px;" type="text" id="filtroNome" name="filtroNome" (keyup)="filtrarNome($event.target.value)" ngModel>
        </th>
        <th class="col-sm-3" scope="col" (mouseover)="aparecerFiltro('filtroEmpresa')">
          <label>Empresa</label>
          <input class="form-control" style="display: none; width: 100px;" type="text" id="filtroEmpresa" name="filtroEmpresa" (keyup)="filtrarEmpresa($event.target.value)" ngModel>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of list" (click)="cotacao(i.code)">
        <td>{{ i.code }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.companyName }}</td>
      </tr>
    </tbody>
  </table>
