<table class="table">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Preço</th>
        <th scope="col">Baixa</th>
        <th scope="col">Alta</th>
        <th scope="col">Variação</th>
        <th scope="col">Variação Parcial</th>
        <th scope="col">Volume</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of cotacao">
        <td>{{ i.date }}</td>
        <td>{{ i.price }}</td>
        <td>{{ i.low }}</td>
        <td>{{ i.high }}</td>
        <td>{{ i.var }}</td>
        <td>{{ i.varpct }}</td>
        <td>{{ i.vol }}</td>
      </tr>
    </tbody>
  </table>
